@font-face{
     font-family: 'Rosa Marena';
     src: url("../fonts/8585.ttf");
}
*{
    transition: all 0.3s;
    box-sizing: border-box;}
/*.cont{*/
    /*max-width: 1600px;*/
    /*margin: 0 auto;*/
/*}*/
body{
    max-width:1600px;
    margin: 0 auto;
}

.clearfix:after{
    content: " ";
    display:table;
    clear:both;
}
.wrap{
    max-width: 1000px;
    margin: 0 auto;
}
.h{
    background: #31241d;
    border: 2px solid #ffdf78;
    border-left: none;
    border-right: none;
}
.logo{
    margin-top: 15px;
    font-family: 'Rosa Marena',sans-serif;
    float: left;
    color: #ffdf78;
    font-size: 30px;
    font-weight: 400;
    margin-right: 110px;
    text-decoration: none;
    display: inline-block;
   
    
}
.h ul {
    display: inline-block;
    list-style: none;
    margin-top: 23px;
    padding: 0;
    
}
 .nav li{
    float: left;
    display: inline-block;
    margin-right: 50px;
    
     
}
 .nav li:last-child{
    margin-right: 0;
}

 .nav a{
    text-decoration: none;
    color: #ffdf78;
    font-family: 'Garamond',sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.nav a:hover{
    color:#fff;
}
.soc{
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.soc li{
    padding: 0;
    margin: 0 15px 0 5px;
    display: inline-block;
}
.soc li:first-child{
    margin-left: 0;
}

/*article*/
article{
    width: 100%;
    margin: 0;
    padding: 0;
}
.welc{
    /*background: url(../img/photo.png) no-repeat;*/
    /*background-size: cover;*/
    position: relative;
}
.c1{
    background: url(../img/photo.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;

}
.c2{
    background: url(../img/photo1.png) no-repeat;
    background-size: cover;
     width: 100%;
    height: 100%;
    display: block;

} 
.c3{
    background: url(../img/photo.png) no-repeat;
    background-size: cover;
     width: 100%;
    height: 100%;
    display: block;
}
.owl-dots{
    display: block;
    position: absolute;
    margin: -60px 0 0 0;
    width: 100%;
    text-align: center;
/*
    left: 46%;
    right: 46%;
*/

}
.owl-dot{
    width: 20px;
    height: 20px;
    border: 1px solid #fcdb75;
    background: #584134;
    display: inline-block;
    margin-right: 15px;

}
.owl-dot:last-child{
    margin-right: 0;
}
                   

.text{
    padding-top: 26.8%;
    padding-bottom: 210px;
}
.text h2{
    margin: 0;
    color: #ffdf78;
    font-family: 'Garamond',sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    
}
.slide{
    width: 100px;
    margin-bottom: 40px;
}
.slide a{
    width: 20px;
    height: 20px;
    border: 1px solid #fcdb75;
    background: #584134;
    display: inline-block;
    margin-right: 15px;
}
.slide a:last-child{
    margin-right: 0;
}
.text p{
    color: #ffdf78;
    font-family: "Rosa Marena",sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align:right;

}

.text .lorem{
    color: #ffffff;
    font-family: 'Garamond',sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    width: 45.2%;
    float: right;
}
.text hr{
    width: 130px;
    height: 1px;
    background-color: #fcdb75;
    text-align:left;
    margin-right: 0;
}
.about{
    background: url(../img/background.png);
    border: 1px solid transparent;
    position: relative;
}
.descr{
    width: 100%;
    border: 2px solid #ffdf78;
    margin-top: 80px;
    margin-bottom: 60px;
}
.p1{
    color: #ffdf78;
    font-family: "Rosa Marena",sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
}
.p2{
    color: #fefefe;
    font-family: Garamond,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 84.9%;
    text-align: center;
    margin: 30px auto 80px auto;

}
.rest{
    margin: 80px auto -105px auto;
    color: #ffdf78;
    font-family: Garamond,sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #fcdb75;
    background-color: #31241d;
    padding: 12px;
    text-align: center;
    /*display: block;*/
    position: relative;
    width: 173px;

}
.descr hr{
    width: 126px;
    height: 1px;
    background-color: #fcdb75;
}
.mwrap{
    background: url(../img/photo1.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    border:1px solid transparent;
    max-width: 100%;
}
.menu{
    margin: 0 auto 60px auto;
}
.menu .m{
    color: #ffdf78;
    font-family: Garamond,sans-serif;
    border: 1px solid #fcdb75;
    background-color: #31241d;
    width: 139px;
    text-align: center;
    margin: 80px auto 0 auto;
    text-transform: uppercase;
    padding: 10px 0;
    font-size:18px;
    position: relative;
}
.menu hr{
    width: 1000px;
    height: 1px;
    background-color:  #fcdb75;
    border:none;
    margin-top: -23px;

}
.vkus{
     margin: 35px 0 100px 0;
}
.vkus+hr{
    width: 125px;
}
.vkus1{
    background:url(../img/navigation1.png) no-repeat ; 
    width: 17px;
    height: 27px;
    text-decoration: none;
    display: block; 
    float: left;
}
.vkus2{
    background:url(../img/navigation2.png) no-repeat ; 
    width: 17px;
    height: 27px;
    text-decoration: none;
    display: block; 
    float: right;
}
.vkus2:hover{
    background: url("../img/nav-active.png") no-repeat;
}
.deli{
    color: #ffdf78;
    font-family: "Rosa Marena",sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 20px 0;
    float: left;
    width: 95%;
}
.deli+hr{
    width: 12.6%;
}
.m+hr{
    width: 100%;
}
figure{
    float: left;
    max-width:49%;
    margin: 30px 0 0 2%;
}
figure img{
    max-width: 100%;
}
.fo{
    margin-left: 0;
}.ft{
    margin-left: 0;
}
.fwrap{
    width: 86%;
    margin:27px 19px 0 16px;
}
.t{
    text-align: left;
    border-top:1px solid #fcdb75;
    font-family: Garamond,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:#fff;
    padding: 15px 0 0 0;
    margin: 0 ;

}
.o{
    font-family: Garamond,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffdf78;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}
.tree{
    color: #ffdf78;
    font-family: "Rosa Marena",sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
    margin: 17px 0 16px 0 ;

}
.tree img{
    vertical-align: middle;
    margin: 0 10px 0 5px;
}
 .menu figcaption{
     max-width: 50.6%;
    /*height: 235px;*/
    float: right;
    border:1px solid #fcdb75;
    background:  #31241d;
}
/*news*/
.news{
    background: url("../img/background.png");
    border: 1px solid transparent;
}
.new+hr{
    width: 100%;
    height: 1px;
    background-color:  #fcdb75;
    border:none;
    margin-top: -20px;
}

.navnew+hr{
    width: 12.6%;
    height: 1px;
    background-color:  #fcdb75;
    border:none;
}
.navnew{
    margin: 35px 0 100px 0;
}
.nour{
    color:#ffdf78;
    font-family: 'Rosa Marena', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 0 0;
    width: 96%;
    float: left;
    
}

.i1{
    background:url(../img/navigation1.png) no-repeat ; 
    background-size: contain;
    width: 17px;
    height: 27px;
    text-decoration: none;
    display: block; margin: 0;
    float: left;
}
.i2{
    background:url(../img/navigation2.png);
    width: 17px;
    height: 27px;
    display: block;
    float: right;
    background-size: contain;
}
.new{
    text-align: center;
    color: #ffdf78;
    font-family: Garamond,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    border: 1px solid #fcdb75;
    background-color: #31241d;
    width: 138px;
    position: relative;
    padding: 5px;
    margin: 60px auto 0 auto;
}
.news figure{
    max-width: 23%;
    position: relative;
}
.news figcaption{
    background: #fff;
    border-right:1px solid black;
    border-left:1px solid black;
    margin-top: -8px;
    padding-bottom: 20px;
    padding-top: 26px;
}
.news figure img{
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.op{
    width: 86.5%;
    margin: 5px auto 0 auto;
}
.op h2{
    color: #141d31;
    font-family: Garamond,sans-serif;
    line-height: 22px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
.op p{
    color: #141d31;
    font-family: Garamond,sans-serif;
    line-height: 22px;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}
.pod{
    font-family: "Rosa Marena",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    background: url("../img/forma-1-------6.png") no-repeat right;
    text-align: right;
    margin: 0 5px 0 0;
    padding-right: 15px;
    display: block;
     text-decoration:none;
     color: #141d31;
}
.newswrap{
    margin: 0 auto 60px auto;

}
.date{
    margin: 0;
    position: absolute;
    background: url("../img/background.png");
    color: #ffdf78;
    font-family: Garamond,sans-serif;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #fcdb75;
    padding: 5px 12px 5px 12px ;
    right: 25%;
    top: 177px;

}
    /*map*/
.map{
    background: url("../img/map.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    border: 1px solid transparent;
}
.pp{
    width: 188px;
    border: 1px solid #fcdb75;
    background-color: #31241d;
    color: #ffdf78;
    font-family: Garamond,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin: 60px 155px -20px 656px;
    z-index: 2;
    padding:5px 0;
    float: right;
}
.contact-wrap{
    width: 363px;
    background-color: #31241d;
    opacity: 0.8;
    border: 1px solid  #fcdb75;
    margin: 0 70px 70px 0;
    float: right;
}
.awr a{
    text-decoration: none;
    color: #ffffff;
    font-family: Garamond,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    display:inline-block;
    padding-bottom: 15px;
}
.awr{
    margin: 70px 111px 40px 75px;
    width: 177px;
}
.awr p{
    margin: 0;
    width: 143px;
    float: right;
}
.awr img{
    float: left;
    display: inline-block;
    margin-right: 15px;
    margin-top: 2px;
}
/*footer*/
footer{
    background-color: #31241d;
    border-top: 1px solid #fcdb75;
    border-bottom: 1px solid #fcdb75;
}
footer ul{
    list-style-type:none;
    float: left;
    padding-left: 0;
}
footer li a{
    text-decoration: none;
    width: 503px;
    color: #ffdf78;
    font-family: Garamond,sans-serif;
    font-size: 13px;
    font-weight: 400;
    /*display: block;*/

}
footer li{
    display: inline-block;
    margin-right: 40px;
}
footer p{
    float: right;
    width: 191px;
    height: 10px;
    color: #ffdf78;
    font-family: Garamond,sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-top: 20px;
}

@media(max-width:480px){
  .logo{
      text-align: center;
      display: block;
      margin: 0 auto;
      padding-top: 20px;
      float: none;

      
    }
    .h ul{
        float: none;
        display: block;
        width: 100%;
        border-bottom: 1px solid black;
        margin: 0;

    }
    .nav li{
        width: inherit;
        float: none;
        display: block;
        text-align: center;
        padding: 10px 0 10px 0;

    }
    .nav li{
        border-top:1px solid black;
    }
    .h .soc{
        float: none;
        width:inherit;
        text-align: center;
    }
    .soc li{

        margin: 10px auto;
        padding: 0 5px 0 5px;
    }
    .h{
        width: auto;
    }
    .text{
        padding: 0 2px ;
    }
    .welc h2{
        max-width:100%;
        text-align: center;
    }
    .text p{
        text-align: center;
    }
    .text hr{
        text-align: center;
        margin: 0 auto;
    }
    .welc .lorem{
        width: 100%;
        float: none;
        text-align: center;
    }
    .menu{
        margin-bottom: 0;
    }
       .menu figure{
          max-width: 100%;
           float: none;
           margin: 0;
           border: 1px solid black;
           border-bottom: 5px solid black;
       }
       figure>img{
           width:100%;
           margin: 0;
       }
       .menu figcaption{
           float: none;
           max-width: 100%;
           margin: 0;
       }
    .news figcaption{
         max-width: 100%;
    }
    .nour{
        width: 89%;
    }
    .news{
        margin-top: 0;
    }
    .news figure{
        max-width: 100%;
        display: block;
        margin: 5px 0;
        border: 5px solid black;
        float: none;
    }
    .date{
        display: none;
        right: 32%;
        top: 240px;
    }
    .contact-wrap{
        float: none;
        width: 100%;
        margin: 0;
    }
    .pp{
        margin: 0 auto;
        float: none;
        width: 100%;
    }
    footer ul{
        display: block;
        width: 100%;
    }
    footer li{
        display: block;
        width: 100%;
        text-align: center;
    }
    footer p{
        display: block;
        width: 100%;
        text-align: center;
    }
    .vkus p{
        width: 89%;
    }
    .awr{
        margin: 10px auto;
    }
    .owl-dots{
        display: none;
    }
}
@media (min-width:481px) and (max-width:768px){
    .owl-dots{
        display: none;
    }
    .owl-theme{
        display: none;
    }
    .welc{
        margin-bottom: -16px;
    }
    .deli{
        width: 94%;
    }
    .mwrap figure{
        max-width: 100%;
        float: left;
        margin: 10px 74px;
    }
    .mwrap figcaption{
        float: right;
        margin: 0;

    }
    .date{
       visibility: hidden;
    }
}




